<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898140672706-l1hmf65dntuukbkh74s27oi6bu5tiia2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898140672706-l1hmf65dntuukbkh74s27oi6bu5tiia2</string>
	<key>API_KEY</key>
	<string>AIzaSyAiEBppSiO6EQlXFhpayabVhMMzEdaBDQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>898140672706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.martinbernat.Diploma-2023</string>
	<key>PROJECT_ID</key>
	<string>diploma-swift-app-bernat</string>
	<key>STORAGE_BUCKET</key>
	<string>diploma-swift-app-bernat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898140672706:ios:c085a351f4028ab732e15b</string>
</dict>
</plist>